@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto Serif';
    src: url('./assets/NotoSerif.ttf'), url('./assets/NotoSerif-Italic.ttf');
}

@font-face {
    font-family: 'Noto Mono';
    src: url('./assets/NotoSansMono.ttf');
}

@font-face {
    font-family: 'Noto Serif Display';
    src: url('./assets/NotoSerifDisplay.ttf'), url('./assets/NotoSerifDisplay-Italic.ttf');
}

@layer base {
    html {
        @apply font-mono;
    }

    h1 {
        @apply font-display;
    }

    h2 {
        @apply font-display;
    }

    /* ... */
}